{% block estilos %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}" />
{% endblock %}

{% block nav_bar %}
  <nav class="base barra-navegacion-principal">
    <div class="name-barra">
      <h4>Menu de Opciones</h4>
    </div>
    <hr />
    <div class="barra-opciones">
      <ul class="lista-opciones">
        <li class="item">
          <a href="#" class="item-link">
            <i class="fi fi-br-user"></i>
            <span class="item-name">Usuario</span>
          </a>
        </li>
        <li class="item">
          <a href="{{ url_for('admin.ingreso') }}" class="item-link">
            <i class="fi fi-br-chat-arrow-grow"></i>
            <span class="item-name">Ingreso</span>
          </a>
        </li>
        <li class="item">
          <a href="{{ url_for('admin.egreso') }}" class="item-link">
            <i class="fi fi-br-chat-arrow-down"></i>
            <span class="item-name">Egreso</span>
          </a>
        </li>
        <li class="item">
          <a href="#" class="item-link">
            <i class="fi fi-br-gears"></i>
            <span class="item-name">Configuraciones</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
{% endblock %}
