{% extends 'base.html' %}

{% block titulo %}
  {{ super() }}
  USUARIO
{% endblock %}

{% block estilos %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style-base.css') }}" />
{% endblock %}

{% block header %}
  {% include 'compartidos/header.html' %}
{% endblock %}

{% block nav_bar %}
  {% include 'compartidos/nav-user.html' %}
{% endblock %}

{% block main %}
  <main class="base contenido-principal flex justify-center items-center flex-col h-full w-full overflow-auto border-l">
    {% block formulario %}

    {% endblock %}
  </main>

  {% block scripts %}

  {% endblock %}
{% endblock %}

{% block footer %}
  {% include 'compartidos/footer.html' %}
{% endblock %}
