<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/icono-web.ico') }}" type="image/x-icon" />

    <!-- Bloque de estilos segun el archivo que los extienda -->
    {% block estilos %}

    {% endblock %}

    <!-- Bloque de titulo segun el archivo que los extienda -->
    <title>
      {% block titulo %}
        APP |
      {% endblock %}
    </title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body class="h-screen w-full bg-[#EDEDED] dark:bg-gray-900 text-gray-800 dark:text-gray-200 overflow-auto">
    <div class="contenedor-general grid grid-cols-5 grid-rows-10 gap-2 w-screen h-screen min-h-0">
      {% block header %}

      {% endblock %}
      {% block nav_bar %}

      {% endblock %}
      {% block main %}

      {% endblock %}
      {% block footer %}

      {% endblock %}
    </div>
  </body>
</html>
